@font-face {
    font-family: "mifuente";
    src: url('../font/Organa-Light.eot  ');
    src: local('Organa Light'), local('Organa-Light'),
        url('Organa-Light.eot?#iefix') format('embedded-opentype'),
        url('Organa-Light.woff2') format('woff2'),
        url('Organa-Light.woff') format('woff'),
        url('Organa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
.carousel-item{
    width: 100%;
    height: 540px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

html{
    padding: 0;
    margin: 0;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    width: 100%; 
    
}

.color1{
    background: #34495e;
    color: #fff; 
    
}
aside{
    background: #c0392b;
    color: #fff;
}
.pie{
 
    background-color: #57a797;

    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family:'mifuente' ;
}
.logo{
    width: 30%;
}
h2{
    text-align: left;
    font-family: "mifuente";
    color: white;
    font-size: 23px;
    padding: 5px 0 5px 20px;
    text-shadow: 2px 3px 5px rgb(104, 104, 104);
   background-color: #002750;
}
h1{
    font-size: 100px;
}
.titulo{
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(70, 70, 70);
    text-align: center;
    background: #56070C;
    padding: 5px 0 5px 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.icono{
max-width: 30%;
    
    }
@media(max-width: 600px){
    .carousel-item {
        height: 280px;
      } 
    .titulo h1{
        font-size: 50px;
        text-align: center;
    }
    .cursiva{   
        font-size: 30px;
        text-align: center;
    }
    .date{
        font-size: 16px;
        text-align: center;
    }
    .cetis{
        font-size: 30px;
        text-align: center;
    }
    .icono {
        max-width: 70%;
        height: auto;
    }

}
@media(max-width: 900px){
    .carousel-item {
        height: 280px;
      } 
    .titulo h1{
        font-size: 50px;
        text-align: center;
    }
    .cursiva{   
        font-size: 30px;
        text-align: center;
    }
    .date{
        font-size: 16px;
        text-align: center;
    }
    .cetis{
        font-size: 30px;
        text-align: center;
    }
    .icono {
        max-width: 70%;
        height: auto;
    }

}
.cetis{


    font-size: 50px;
    text-align: center;

    text-shadow: 5px 5px 5px rgb(226, 226, 226);
    padding: 5px 0 5px 20px;
    font-family: 'Dancing Script', cursive;
 }

h4{
    text-align: right ;
    font-size: 30px;

}
h3{
    text-align: center;
    font-family: "mifuete";
}

h5{
    color: black;
    text-align: center;
}
p{
    color: black;
    text-align: center;
}

.m1
{
    background-color: #c0392b;
    width: 100%;
}
.m2{
    background-color: #16a085;
}
.m3{
    background-color: gold;
}

img{
    
    max-width: 100%;
}





